.DS_Store
/*
!/README.md
!/mcmod.info
!/build.xml
!/Archive

!mcp

mcp/*
!mcp/src

mcp/src/minecraft/*
!mcp/src/minecraft/dimitriye98
!mcp/src/minecraft/steamcraft
!mcp/src/minecraft/buildcraft
!mcp/src/minecraft/gfx
!mcp/src/minecraft/lang